
.form {
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px 2px black;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 400px;
}

.form h1 {
	font-family: "Avenir Heavy";
	color: #212121;
	margin: 0px;
	font-size: 18px;
	margin-bottom: 15px;
}

.form input[type="text"], .form textarea {
	font-family: "Avenir Light";
	color: #212121;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	padding: 5px;
	outline: none;
	border-radius: 2px;
	margin: 4px;
	resize: none;
	width: 100%;
}

.form input[type="submit"] {
	font-family: "Avenir Heavy";
	color: white;
	padding: 5px;
	border-style: none;
	border-radius: 1px;
	cursor: pointer;
	background-color: #212121;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 15px;
}