
.sprite {
	height: 100%;
	width: 100%;
}

.container {
	background-color: #B8A3E0;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	overflow: hidden;
	border-style: solid;
	border-width: 2px;
	border-color: darkgrey;
}