
.navbar {
	position: absolute;
	width: 100%;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 80px;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links {
	margin-right: 10px;
}

.links a {
	font-family: "Avenir";
	color: white;
	margin: 20px;
	text-decoration: none;
}