
.button {
	background-color: white;
	border-style: none;
	cursor: pointer;
	padding: 5px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 2px 2px black;
}